.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.copyright {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
